https://tr0jan.tk {
  gzip
  basicauth / cc admin
  tls /root/.acme.sh/tr0jan.tk/tr0jan.tk.cer /root/.acme.sh/tr0jan.tk/tr0jan.tk.key
  proxy / https://www.bingimg.cn/
}
https://ariang.tr0jan.tk {
  root /root/Ariang
  gzip
  timeouts none
  tls /root/.acme.sh/tr0jan.tk/tr0jan.tk.cer /root/.acme.sh/tr0jan.tk/tr0jan.tk.key
}
https://download.tr0jan.tk {
  gzip
  timeouts none
  tls /root/.acme.sh/tr0jan.tk/tr0jan.tk.cer /root/.acme.sh/tr0jan.tk/tr0jan.tk.key
  proxy / localhost:8080
}
