https://cccloud.gq {
  gzip
  basicauth / cc admin
  tls /root/.acme.sh/cccloud.gq/cccloud.gq.cer /root/.acme.sh/cccloud.gq/cccloud.gq.key
  proxy / https://www.bingimg.cn/
}
https://ariang.cccloud.gq {
  root /root/Ariang
  gzip
  timeouts none
  tls /root/.acme.sh/cccloud.gq/cccloud.gq.cer /root/.acme.sh/cccloud.gq/cccloud.gq.key
}
https://download.cccloud.gq {
  gzip
  timeouts none
  tls /root/.acme.sh/cccloud.gq/cccloud.gq.cer /root/.acme.sh/cccloud.gq/cccloud.gq.key
  proxy / localhost:8080
}
